.xemthemblog {
    background: #e87c7b;
    color: white;
}
<<<<<<< HEAD


/* loadmore */


/* .flex {
  display: flex;

}
.content1 {
  /* height: 100px; */


/* float: left;
  width: 45%; */


/* color: #fff; */


/* font-size: 24px; */


/* line-height: 100px;  */


/* centering text just for view */


/* text-align: center; */


/* background-color: grey; */


/* margin: 5px; */


/* border: 1px solid lightgrey; */


/* display: none;
=======
.noidung img{
  text-align:center;
}
.noidung a{
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif !important;
>>>>>>> 2d44460e6df83bfdd9a04a1a2e4745774d212e8c
}
.noidung p,h1,h2,h3,h4,h5,h6,span,li{
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif !important;
}
<<<<<<< HEAD
#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}
.noContent1 {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none; */


/* } */
=======
>>>>>>> 2d44460e6df83bfdd9a04a1a2e4745774d212e8c
