.xemthemblog {
    background: #e87c7b;
    color: white;
}

.list-blog-dmct{
  height: 1330px;
overflow: hidden;
}
.list-blog-dmct6{
  height: 630px;
  overflow: hidden;
}
.list-blog-dmct3{
  height: 880px;
  overflow: hidden;
  /* margin-bottom: 160px; */

}
.showAllList{
  height: 100%;
}

.divnoidung{
  height: 100%;
  width: 100%;
  overflow: hidden;

}
/* loadmore */


/* .flex {
  display: flex;

}
.content1 {
  /* height: 100px; */


/* float: left;
  width: 45%; */


/* color: #fff; */


/* font-size: 24px; */


/* line-height: 100px;  */


/* centering text just for view */


/* text-align: center; */


/* background-color: grey; */


/* margin: 5px; */


/* border: 1px solid lightgrey; */


/* display: none;
}
.noidung p,h1,h2,h3,h4,h5,h6,span,li{
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif !important;
}
#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}
.noContent1 {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none; */


/* } */
