.xemthemblog{
    background: #e87c7b;
    color:white;
}
.noidung img{
  text-align:center;
}
.noidung a{
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif !important;
}
.noidung p,h1,h2,h3,h4,h5,h6,span,li{
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif !important;
}
